<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>The Fork Bombers</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css')}}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3-scale-radial.js"></script>
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>


{#    <script src="./data/mike.conc.csv.js"></script>#}
{#	<script src="./data/mike.courses.csv.js"></script>#}
{#	<script src="./control_flow_js/mike.func.js"></script>#}

    <script src="{{ url_for('static',filename='data/mike.conc.csv.js')}}"></script>
    <script src="{{ url_for('static',filename='data/mike.courses.csv.js')}}"></script>
    <script src="{{ url_for('static',filename='scripts/mike.func.js')}}"></script>


{#<script src="{{ url_for('static', filename='data/conc.csv.js')}}" type="javascript"></script>#}
{#    <script src="{{ url_for('static', filename='data/courses.csv.js')}}" type="javascript"></script>#}
{#<script src="{{ url_for('static', filename='mikes.js')}}" type="javascript"></script>#}
{##}

</head>
<body>

{#    <a href="/">The Fork Bombers</a><br/>#}

<div width="100%">
	<h1 width="100%" class="TeamName">THE FORK BOMBERS</h1>
	<h1 width="100%" class="ProjectName">ELECTIVE SELECTOR</h1>

</div>
<div class="SelectGroup">
	<div id="SelectMenus" style="margin-right: 50px">
		<!-- Concentration Menu -->
		<div class="ConcentrationMenu">
		
			<h2/>Select Concentration</h1>
			
			<div id="concentrationSelect" onchange="LoadConcentrationCourses(courseData)">
				<select id="concDrop"></select>
			</div>
			
		</div>

		<!-- Select Course Menu -->
		<div class="CourseMenu">
		
			<h2>Select Course</h2>

			<div id="courseSelect" onchange="AddCourseToPool(courseData)">
				<select id="courseDrop"></select>
			</div>
			
		</div>

		<!-- Selected Course Display -->
		<div id="SelectedDisplay" class="CourseMenu">
		
			<h2 style="font-family:sans-serif">Selected Courses</h2>

			<ul id="list" class="SelectedDisplayList"
				ondragend="dragEndHandler(event)" 
				ondrop="drop_handler(event)" 
				ondragover="dragover_handler(event)"></ul>

			<!-- Clear Selected Pool Button -->
			<button id="clearSelectionButton" onclick="ClearSelections(selectedCoursePool)">Clear</button>
			
		</div>
	</div>

    <!-- Mike SCRIPT -->
{#	<script src="./control_flow_js/mike.js"></script>#}
    <script src="{{ url_for('static',filename='scripts/mike.js')}}"></script>


	<!-- Create svg -->
	<div id="Visuals" style="margin-top: 50px;">
	
		<!-- Top row -->
		<div class="VisualsRow1">
		
			<svg id="d3_academic" width="700" height="500"></svg>
			
			<svg id="d3_career" width="700" height="500"></svg>
			
		</div>

		<!-- Bottom row -->
		<div class="VisualsRow2">
		
			<svg id="d3_bar" width="960" height="700"></svg>
			
		</div>
	</div>
</div>

    <!-- Load data -->
{#    <script src="{{ url_for('static',filename='data/courses.csv.js')}}"></script>#}
    <script src="{{ url_for('static',filename='data/jobs.csv.js')}}"></script>

{#    <script src="{{ url_for('static',filename='data/index_by_sim.js')}}"></script>#}

    <!-- Load plot fuctions -->

    <script src="{{ url_for('static',filename='vis/rose_plot.js')}}"></script>
    <script src="{{ url_for('static',filename='vis/tree_path.js')}}"></script>
    <script src="{{ url_for('static',filename='vis/radar_plot.js')}}"></script>
    <script src="{{ url_for('static',filename='vis/bar_chart.js')}}"></script>

    <script src="{{ url_for('static',filename='scripts/vis_bar_ver.js')}}"></script>


</body>
</html>