
/*h1*/
/*{*/
    /*font-family: Arial, sans-serif;*/
    /*font-size: 24px;*/
    /*color: blue;*/
/*}*/

.TeamName
{
	text-align: center;
	font-size: 30px;
	overflow: auto;
	margin-top: 0px;
	margin-bottom: 0px
}

.ProjectName
{
	text-align: center;
	font-size: 40px;
	overflow: auto;
	margin-top: 0px;
	margin-bottom: 0px
}

.SelectGroup
{
	/*border: solid red;*/
	/*display: flex;*/
	font-family: sans-serif;
	width: 15%;
	display: inline-block;
	float: left;
	/*margin-right: 50px;*/
	/*position: relative;*/
}


.Visuals{
	/*display: flex;*/
	width: 75%;
	/*margin-top: 50px;*/
	/*border: solid green 10px;*/
	float: right;
	position: relative;
}


.ConcentrationMenu
{
	/*border: solid black;*/
	float: left;
	/*position: absolute;*/
	margin-top: 0px;
}

.CourseMenu
{
	/*border: solid black;*/
	float: left;
	/*position: absolute;*/
	margin-top: 150px;
}

.SelectedDisplay
{
	margin-top: 200px;
	/*position: absolute;*/
	float: left;
}

.list{
	width: 300px;
	height: 300px;
	border: 2px solid black;
	list-style-type: none;

}

/*.CourseMenuList*/
/*{*/
	/*border: solid black;*/
	/*float: left;*/
	/*position: absolute;*/
	/*margin-top: 200px;*/
/*}*/


.VisualsRow1
{
	/*border: solid blue;*/
	/*display: flex;*/
	float: left;
	/*margin-left: 50px;*/
	margin-top:0px;
	/*position: absolute;*/
}

.VisualR1N1{
	/*border: solid brown;*/
	float: left;
	/*width: 700px;*/
	height: 500px;
}

.VisualR1N2{
	/*border: solid brown;*/
	float: right;
	width: 700px;
	height: 500px;
}

.VisualsRow2
{
	/*border: solid blue;*/
	margin: 0 auto;
     /*width: 100px;*/
	/*margin-left: 100px;*/
	/*margin-top: 150px;*/
	/*position: absolute;*/
}

/*a{*/
    /*text-decoration: none;*/
/*}*/
/*a:link, a:visited, a:hover, a:active{*/
    /*font-family: Arial, sans-serif;*/
    /*font-size: 24px;*/
    /*text-decoration: none!important;*/
/*}*/